body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff670f+0,81fc0f+54 */
background-color : #ecf0f5
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

.navbar{
width: 100%;
    background: #00693c;
    background: -moz-linear-gradient(left,#00693c 0,#002d62 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,#00693c),color-stop(100%,#002d62));
    background: -webkit-linear-gradient(left,#00693c 0,#002d62 100%);
    background: -o-linear-gradient(left,#00693c 0,#002d62 100%);
    background: -ms-linear-gradient(left,#00693c 0,#002d62 100%);
background: linear-gradient(to right,#00693c 0,#002d62 100%);
    padding-right: 15px;
    padding-left: 15px
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
   color: #fff;
   background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
   color: #fff;
   background-color: transparent;
}
.container-fluid  .tab-content:first-child{
	padding-right: 15px;
    padding-left: 15px;
}
.navbar-default .navbar-nav>li>a {
   color: #fff;
}

.navbar-default .navbar-brand {
   color: #fff;
}